@model IEnumerable<BaseDeDonneesTP2.ViewModel.AbiliteDeChiffrerVM>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Abilités</h1>
@foreach (var item in Model)
{
    <h2> @Html.DisplayFor(modelItem => item.Abilite.Nom)</h2>
    <br/>
    @Html.DisplayFor(modelItem => item.DescriptionDeChiffrer.Description1)
    <br/>
}